
body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    margin: 0 auto;
    width: 510px;
    border: 3px solid rgb(95, 95, 151);
    padding: 0 2em 1em; 
}
h1 {
    color: rgb(25, 93, 250);
}
h2 {
    color: rgb(25, 93, 250);
	font-size: 120%;
	padding: 0;
	margin-bottom: .5em;
}
div {
    margin-bottom: 1em;
}
label {
    display: inline-block;
    width: 5em;
    text-align: right;
}
input {
    margin-left: 1em;
    margin-right: 0.5em;
}
span {
    color: red;
}
p {
    margin: 0;
}
#scores label {
    width: 10em;
    text-align: left;
}